@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav li:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  border-radius: 40px;
}

.heroIMG {
  background-image: url("https://img.freepik.com/free-vector/hand-drawn-style-floral-background_79603-1541.jpg?w=900&t=st=1663590002~exp=1663590602~hmac=5f50e78e67f55104f0ca6e0d5da49b2b3de6cd6de66cea7f25dfe546fa17e83e");
  min-height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
